# Ambiente Virtual do UV e Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Pastas de Dados (NUNCA envie bases de dados para o Git)
data/raw/
data/processed/
*.csv
*.xlsx
*.parquet
*.json
*.pkl
*.pickle

# Histórico e checkpoints do Jupyter Notebook
.ipynb_checkpoints/
.virtual_env/

# Configurações do VS Code e Sistema Operacional
.vscode/
.DS_Store
Thumbs.db
